<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Gundams</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', filename='mystyle.css') }}"
    /> -->
  </head>
  <body>
    <div id="header">
      <a href="index.html">
          <img id="logo" src="../static/images/gundam_logo.png" alt="">
      </a>
      </button>
      <div class="separator" id="separador_inicial"></div>
      <button class="headerButton">
        <a href="./usuarios.html">
          <p class="Button">Usuarios</p>
        </a>
      </button>
      <div class="separator"></div>
      <button class="headerButton">
        <a href="./gundams.html">
          <p class="Button">Gundams</p>
        </a>
      </button>
      <div class="separator"></div>
    </div>
    <main>{% block content %} {% endblock %}</main>

    {% block js %}
    <!-- <script src="index.js"></script> -->
    {% endblock %}
  </body>
</html>
