{% extends 'base.html' %} {% block content %}
<h1>Add Gundam</h1>
<a href="/">Back</a><br /><br />

<form id="createForm" action="/create" method="post">
  <table>
    <tbody>
      <tr>
        <td class="campo">
          <label for="name_input">Name</label>
        </td>
        <td>
          <input type="text" name="name" id="name_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label for="series_input">Series</label>
        </td>
        <td>
          <input type="text" name="series" id="series_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label for="height_input">Height</label>
        </td>
        <td>
          <input type="tel" name="height" id="height_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label for="manufacturer_input">Manufacturer</label>
        </td>
        <td>
          <input type="text" name="manufacturer" id="manufacturer_input" />
        </td>
      </tr>
      <tr>
        <td class="campo">
          <label for="imageUrl_input">Image Url</label>
        </td>
        <td>
          <input type="text" name="imageUrl" id="imageUrl_input" />
        </td>
      </tr>
      <tr>
        <td class="campo">
          <label for="price_input">Price</label>
        </td>
        <td>
          <input type="text" name="price" id="price_input" />
        </td>
      </tr>
      <tr>
        <td class="campo">
          <label for="release_input">Release</label>
        </td>
        <td>
          <input type="text" name="release" id="release_input" />
        </td>
      </tr>

      <tr>
          <td class="fila-boton" colspan="2">
          <button id="submitButton">Add</button>
        </td>
      </tr>
    </tbody>
    </tbody>
  </table>

</form>

<!-- Botón fuera del formulario -->

<button id="clearButton">Clear</button>
<button id="hideButton">Hide</button>
<button id="showButton">Show</button>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='validation.js') }}"></script>
{% endblock %}
