{% extends 'base.html' %} {% block content %}
<h1>Listado de Gundams</h1>

<a href="/create_gundam">Crear Gundam</a>

<form action="#" method="get">
    <label for="lang">Serie</label>
    <select name="Serie" id="lang" style="width: 300px;">
      <option value="" selected disabled hidden >Filtra por serie</option>
    {% for serie in series1 %}
      <option value="{{serie[0]}}">{{serie[0]}}</option>
    {% endfor %}

    </select>
    <input type="submit" value="Enviar" />
</form>
<!-- <ul>
  {% for gundam in gundams %}
  <li>
    {{ gundam.name }}
    <a href="/update/{{ gundam.uid }}">Update</a>
    <a href="/delete/{{ gundam.uid }}">Delete</a>
  </li>
  {% endfor %}
</ul> -->
<div>
  <table id="tablaPrincipal">
    <tr class="tableHeaderRow">
        <th class="tableHeader" id="cabeceraImagen"><p class="headerText">Imagen</p></th>
        <th class="tableHeader"><p class="headerText">Nombre</p></th>
        <th class="tableHeader"><p class="headerText">Serie</p></th>
        <th class="tableHeader"><p class="headerText">Precio</p></th>
        <th class="tableHeader"><p class="headerText">Fecha de lanzamiento</p></th>
        <th class="tableHeader"><p class="headerText">Actualizar</p></th>
        <th class="tableHeader"><p class="headerText">Borrar</p></th>
    </tr>
    {% for gundam in gundams %}
    <tr>
        <td id="columnaImagen"><a class="enlace" href="{{gundam.imageUrl}}" target=”_blank”><img src="{{gundam.imageUrl}}" alt="" class="imagenes"></a></td>
        <td><p>{{gundam.name}}</p></td>
        <td><p>{{gundam.series}}</p></td>
        <td><p>{{(gundam.price)}}</p></td> 
        <td><p>{{gundam.release}}</p></td>
        <td><a href="/update_gundam/{{ gundam.uid }}">Actualizar Gundam</a></td>
        <td><a href="/delete_gundam/{{ gundam.uid }}">Borrar Gundam</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
