{% extends 'base.html' %} {% block content %}
<h1>Gunpla List</h1>

<a href="/create">Add</a>

<form action="#">
    <label for="lang">Lenguaje</label>
    <select name="Serie" id="lang" style="width: 300px;">
    {% for gundam in gundams %}
      <option value="{{gundam.series}}">{{gundam.series}}</option>
    {% endfor %}

    </select>
    <input type="submit" value="Enviar" />
</form>
<!-- <ul>
  {% for gundam in gundams %}
  <li>
    {{ gundam.name }}
    <a href="/update/{{ gundam.uid }}">Update</a>
    <a href="/delete/{{ gundam.uid }}">Delete</a>
  </li>
  {% endfor %}
</ul> -->
<div>
  <table id="tablaPrincipal">
    <tr class="tableHeaderRow">
        <th class="tableHeader" id="cabeceraImagen"><p class="headerText">Imagen</p></th>
        <th class="tableHeader"><p class="headerText">Nombre</p></th>
        <th class="tableHeader"><p class="headerText">Serie</p></th>
        <th class="tableHeader"><p class="headerText">Precio</p></th>
        <th class="tableHeader"><p class="headerText">Fecha de lanzamiento</p></th>

    </tr>
    {% for gundam in gundams %}
    <tr>
        <td id="columnaImagen"><a href="{{gundam.imageUrl}}" target=”_blank”><img src="{{gundam.imageUrl}}" alt="" class="imagenes"></a></td>
        <td><p>{{gundam.name}}</p></td>
        <td><p>{{gundam.series}}</p></td>
        <td><p>{{gundam.price}}</p></td> 
        <td><p>{{gundam.release}}</p></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
