{% extends 'base.html' %} {% block content %}
<main id="indexMain">
<button id="BotonPrincipal" onclick="mostrarTexto()" class="headerButton Button">¿Que es gundam? ¡Haz Clik!  </button>
<div id="textoPrincipal" style="visibility:hidden" class="headerButton Button" ><p id="texto">Gundam es una serie de anime y manga japonesa que comenzó en 1979 y ha tenido varias iteraciones desde entonces. La historia se centra en la lucha entre los humanos que pilotan robots gigantes llamados "Mobile Suits" o "mechas", y las diferentes facciones que buscan controlar el futuro de la humanidad.

    Gunpla, por otro lado, es una abreviatura de "Gundam Plastic Model", y se refiere a las maquetas de plástico que representan los Mobile Suits de la serie Gundam. Los Gunpla son muy populares entre los fans de la serie y se venden en diferentes niveles de complejidad, desde modelos simples hasta kits altamente detallados y complejos que pueden requerir muchas horas de construcción.
    
    En resumen, Gundam es una serie de anime y manga de ciencia ficción que presenta robots gigantes llamados Mobile Suits, mientras que Gunpla son las maquetas de plástico que representan estos robots y que son muy populares entre los fans de la serie.
</p></div>
</main>
{% endblock %}
