
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet", sans-serif;
}

@font-face {
    font-family: myFirstFont;
    src: url("../static/fuentes/Iori-1m1M.ttf");
}
@font-face {
    font-family: myFirstFont;
    src: url("../static/fuentes/IoriBold-RoMe.ttf");
    font-weight: bold;

}
body{
    background-color: #cccccc;
}
#header{
    background-color: #2c52b3;
    display: flex;
    /* justify-content: center; */
    width: 100vw;
    height: 15vh;
    align-items: center;
}

.headerButton{
    border-radius: 10px;
    border: 0px;
    /* border: solid 2px; */
    /* border-color: antiquewhite; */
    background-color: #2c52b3;
    display: flex;
    flex-direction: column;
    /* margin-left: 2px; */
    /* margin-right: 2px; */
    margin: 2px;

    height: 95%;
    width: 100px;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
    cursor:pointer
}
.headerButton:hover{
    transition: 0.5s;
    /* opacity: 0; */
    background-color: #192e63;
    
}

.Button{
    display: flex;
    justify-content: center;
    font-family: myFirstFont;
    /* font: TrebuChet; */
    font-size:20px;
    color: #fff867;
}

#logo{
    display: flex;
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: center;
}

#pageContainer{
    /* background-color: #2c52b3; */
    display: flex;
    /* justify-content: center; */
    width: 96vw;
    height: auto;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}
.separator{
    border-left: 3px solid #192e63;
    height: 60%;
}
#separador_inicial{
    margin-left: 10px;
}
#tablaPendientes{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /* background-color: #2c52b3; */
    box-shadow: 0 0 5px #192e63;
    /* table-layout: fixed; */
    /* display: flex; */
    /* justify-content: space-between; */
}
.tableHeaderRow{
    background-color: #2c52b3;
}
.tableHeader{
    width: 100%;
}
table,th,td{
    text-align: left;
    width: 100%;
}

table{
    border: 3px solid;
    border-radius: 3px;
    border-color: #192e63;
    border-spacing: 0;
}

.headerText{
    color: #fff867;
    font-family: myFirstFont;
    margin-left: 3px;
    margin-right: 3px;
}

#tablaComprados{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    /* background-color: #2c52b3; */
    box-shadow: 0 0 5px #192e63;
    /* display: flex; */
    /* justify-content: space-between; */
}
#selector{
    height: auto;
    display: flex;
    box-sizing: border-box;
}
#containerSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#flechaDerecha{
    width: 40px;
    height: 40px;
    background-color: #192e63;
}
#flechaIzquierda{
    width: 40px;
    height: 40px;
    background-color: #192e63;
}
.imagenes{
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s ease;  
    /* image-rendering: auto ; */
    /* aspect-ratio: 1280 / 720; */
    /* intrinsicsize: 1920px 1080px; */
    
}
.imagenes:hover{
    transition: 0.5 ease;
    transform: translateX(30%);
    scale:300%;
    
}
#tablaPrincipal{
    table-layout: fixed;
}
td{
    /* overflow: hidden; */
    height: 140px;
    object-fit: contain;
    
}
#columnaImagen{
    text-align: center;

}
#cabeceraImagen{
    text-align: center;

}
.imagenesGrandes{
    /* display: none; */
    height: 300px;
}